*,html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --schrijffont: 'Patrick Hand', cursive;
    --hoofdfont:  'Josefin Sans', sans-serif;
    --box-shadow: rgba(160, 160, 160, 0.445) .1em .5em 1em;
    --blauw: #165E80;
    --blauw-footer: rgba(20, 94, 128, 0.699);
    --blauw-overlay: rgba(20, 94, 128, 0.884);
    --wit: #F8F7F1;
}



body{
    background-image: url("../images/achtergrond-naam.png");
    background-size: 10%;
    background-repeat: repeat;
}

header{
    padding:  2em;
    background-color: var(--wit);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
}

header>section{
    order: 1;
}

header>nav{
    display: flex;
}

header>section>img{
    display: none;
}

header>nav>img{
    display: none;
}

header>section>a>img{
    width: 8em;
    position: fixed;
    top: .5em;
    right: 2em;
    z-index: 1;
    transition: .5s;
}

header>nav ul{
    display: flex;
    align-items: center;
}

header>nav>ul>li{
    list-style: none;
}

header>nav>ul>li>a{
    color: black;
    padding: 0em;
    box-shadow: none;
    margin: auto;
}

header>nav>ul>li>a{
    font-family: var(--hoofdfont);
    color: var(--blauw);
    padding: .5em 1em;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    margin-left: 1em;
}

header>nav>ul>li>a:hover{
    background-color: var(--blauw);
    color: var(--wit);
}

img{
    max-width: 100%;
}


/*styling van de eerste section in de main*/



main>img:first-of-type{
    width: 100%;
}

main section:first-of-type{
    background-color: var(--wit);
    width: 40%;
    padding: 2em;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 6em;
}

main section:first-of-type h1{
    font-family: var(--schrijffont);
    font-size: 3em;
}

main section:first-of-type p{
    font-family: var(--hoofdfont);
    font-size: 1.2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

main section:first-of-type a{
    font-family: var(--hoofdfont);
    color: #F8F7F1;
    background-color: #165E80;
    padding: .5em 1em;
    text-decoration: none;
    grid-column: 1;
    margin-right:1em;
}

#homepage main section:first-of-type img{
    border-radius: 50%;
    width: 30%;
    position: absolute;
    top: 3em;
    left: 60%;
}

span{
    display: block;
}

main>section:nth-child(3){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    padding: 1em;
    margin-top: 2em;
    width: min(95%, 110em);
    margin-inline: auto;
}

main>section:nth-child(3)>article{
    display: flex;
    justify-content: center;
    align-items: center;
}

main>section:nth-child(3)>article:nth-child(1), 
main>section:nth-child(3)>article:nth-child(4){
    grid-column: span 2;
    display: flex;
    align-items: center;
}

main>section:nth-child(3)>article{
    position: relative;
    height: 100%;
    margin: auto;
}

main>section:nth-child(3)>article>a>article{
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blauw-overlay);
    opacity: 0;
    transition: 0.5s;
}

main>section:nth-child(3)>article>a>article:hover{
    opacity: 1;
    box-shadow: var(--blauw) 0em 0em 1em .5em;
}

main>section:nth-child(3)>article>a>article h2{
    font-family: var(--hoofdfont);
    color: var(--wit);
    font-size: 1.5em
}

main>section:nth-child(3)>article>a>article p{
    font-family: var(--hoofdfont);
    color: var(--wit);
    border-bottom: .1em solid var(--wit);
    font-size: .7em;
}




main>section>article{
    background-color: #F8F7F1;
    padding: 3em;
    box-shadow: var(--box-shadow);
}


#over-mij main section{
    position: relative;
    top: 0px;
    width: min(90%, 90em);
    margin-top: 2em;
    display: grid;
    grid-template-columns: 50% 50%;
}

#over-mij main h1{
    font-family: var(--schrijffont);
    font-size: 4em;
}

#over-mij main section a{
   margin-right: auto;
}

#over-mij main section p{
    font-size: 1.7em;
    font-weight: 250;
    margin-top: 0.5em;
    grid-column: 1;
    column-gap: 3em;
}


#over-mij main section:first-of-type img{
    border-radius: 0em;
    position: relative;
    top: 0em;
    left: 0em;
    width: 30em;
    height: 30em;
    margin-left: auto;
    
}

#over-mij main section:first-of-type h2{
    font-size: 3.5em;
}

#over-mij main{
    display: flex;
    justify-content: center;
}


footer{
    background-color: var(--blauw-footer);
    padding: 3em;  
    margin-top: 3em;
    position: relative;
    bottom: 0px;
}

footer img{
    width: 20%;
}

footer>article>h3{
    font-family: var(--schrijffont);
    font-size: 1.5em;
    color: var(--wit);
    align-self: center;
}

footer>article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#contact main section{
    position: inherit;
    top: 0px;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    width: min(90%, 60em);
}

#contact main section form{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#contact main section form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
}

#contact main section form legend{
    font-family: var(--hoofdfont);
    font-weight: 400;
}

#contact main section form label{
    font-family: var(--hoofdfont);
    font-weight: 200;
    margin-top: 1em;
}

#contact main section form input{
    border: none;
    box-shadow: var(--box-shadow);
    margin-top: 1em;
    width: 50%;
    height: 2em;
}

#contact main section form fieldset input:last-of-type{
    height: 6em;
}

#contact main section form>input{
    background-color: var(--blauw);
    width: 30%;
    color: var(--wit);
    font-family: var(--hoofdfont);
    margin-top: 2em;
}

/* best pizza ever*/

#pizza>main section:first-of-type>article object{
    height: 25em;
    width: 100%;
}

#pizza>main section:first-of-type>article:nth-child(2)>p{
    font-family: var(--hoofdfont);
    font-weight: 200;
    font-size: 1.7em;
    margin-top: 1em;
}

#pizza>main section:first-of-type img{
    width: 100%;
}

#pizza>main section:first-of-type>article:nth-child(3){
    grid-column: span 2;
}

#pizza>main section:first-of-type>article:nth-child(4){
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

#pizza>main section:first-of-type>article:nth-child(4) img:first-of-type{
    grid-column: 1;
}

#pizza>main section:first-of-type>article:nth-child(4) h3{
    font-size: 1.5em;
    font-family: var(--hoofdfont);
}

#pizza>main section:first-of-type>article:nth-child(2){
    grid-row: span 2;
}

#pizza>main section:first-of-type{
    position: inherit;
    background: none;
    box-shadow: none;
    width: min(90%, 80em);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

/*einde pizza*/

/*boek*/

#boek main>section:first-of-type{
    position: inherit;
    width: min(90%, 80em);
    margin-inline: auto;
    background: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

#boek main>section:first-of-type>article:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}



#boek main>section:first-of-type>article:first-of-type img{
    width: 100%;
}

#boek main>section:first-of-type>article:nth-child(4){
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

#boek main>section:first-of-type>article:nth-child(3){
    grid-column: span 2;
}

#boek main>section:first-of-type>article:nth-child(4)>img{
    box-shadow: var(--box-shadow);
    width: 100%;
}

#boek main>section:first-of-type>article:last-of-type{
    grid-column: span 3;
}

#boek main>section:first-of-type>article:last-of-type object{
    width: 100%;
    height: 40em;
}

#boek main>section:first-of-type>article>img:nth-child(6){
    grid-column: span 1;
}

/*einde boek*/

/*game*/

#game main>section:first-of-type{
    position: inherit;
    width: min( 90%, 80em);
    margin-inline: auto;
    background: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

#game main>section:first-of-type>article:nth-child(4){
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

#game main>section:first-of-type>article>img{
    width: 100%;
}

#game main>section:first-of-type>article:nth-child(3){
    grid-column: span 2;
}

#game main>section:first-of-type>article:nth-child(5){
    grid-column: span 3;
}

#game main>section:first-of-type>article:nth-child(4) img{
    margin: auto;
    box-shadow: var(--box-shadow);
}

#game main>section:first-of-type>article:nth-child(5), 
#game main>section:first-of-type>article:nth-child(6){ 
    display: flex;
    justify-content: center;

}

/*einde game*/

/* volgende en terug button*/

main>section:first-of-type>article:first-of-type{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    background: none;
    box-shadow: none;
}





@media (max-width: 100em){
    #over-mij main section p{
        columns: 1;
        font-size: 1.5em;
    }
}

@media (max-width: 72em){

    main section:first-of-type{
        width: 50%;
    }

    main section:first-of-type h1{
    font-size: 2.3em;
    }

    main section:first-of-type p{
    font-size: 1em;
    }

    main section:first-of-type img{
    width: 28%;
    }

    #over-mij main section:first-of-type img{
        position: absolute;
        top: 3em;
        right: 2em;
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: var(--blauw) 5px solid;
        box-shadow: var(--box-shadow);
    }

    #over-mij main section{
        grid-template-columns: auto 15em;
    }
}

@media (max-width: 62em){
    main section:first-of-type{
        width: 50%;
        padding: 2em 1em;
        position: relative;
        top: 1em;
    }

    main>img:first-of-type{
        position: absolute;
    }

    main section:first-of-type h1{
    font-size: 2em;
    }

    main section:first-of-type p{
    font-size: .8em;
    }

    main section:first-of-type img{
    width: 28%;
    }

    h2>span{
        display: initial;
    }
    main>section:nth-child(3)>article>article h2{
        font-size: 1em;
    }

    
}


@media (max-width: 53em){

    h2>span{
        display: block;
    }

    main section:first-of-type{
        width: 55%;
        padding: 2em 1em;
    }

    main section:first-of-type img{
        width: 35%;
    }

    main>section:nth-child(3){
        grid-template-columns: 1fr 1fr 1fr;
    }

    #over-mij main section:first-of-type img{
        top: 2em;
        height: 8em;
        width: 8em;
    }
    #over-mij main section:first-of-type{
        grid-template-columns: auto 11em;
    }

    #contact main section form input{
        width: 70%
    }

    #pizza main>section article,
    #pizza>main section:first-of-type>article:nth-child(3),
    #pizza>main section:first-of-type>article:nth-child(4){
        grid-column: span 3;
    }

    #game main>section article,
    #game main>section:first-of-type>article:nth-child(3){
        grid-column: span 3;
    }

    #game main>section:first-of-type>article:nth-child(4){
        grid-template-columns: 1fr;
    }

    #boek main>section:first-of-type>article,
    #boek main>section:first-of-type>article:nth-child(3){
        grid-column: span 3;
    }
}

@media (max-width: 45em){
    main section:first-of-type{
        width: 65%;
    }
    
}

@media (max-width: 39em){

    main section:first-of-type{
        width: 70%;
    }

    main>section:nth-child(3){
        grid-template-columns: 1fr 1fr;
    }
    #over-mij main section:first-of-type img{
        top: 2em;
        height: 7em;
        width: 7em;
    }
    #over-mij main section:first-of-type{
        grid-template-columns: auto 8em;
    }
    #over-mij main section p{
        font-size: 1.2em;
    }
    #over-mij main section h1{
        font-size: 3em;
    }
}

@media (max-width: 35em){
 
    main section:first-of-type{
        width: 75%;
    }

    header{
        padding: 1.5em 2em;
    }

    header>section>img{
        display: inherit;
        width: 2em;
        height: 2em;
    }

    header>section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header>nav>img{
        display: inherit;
        width: 2.5em;
        height: 2.5em;
        margin: 1em 2em;
    }


    header nav {
        background-color: var(--blauw-overlay);
        position: fixed;
        top: 0em;
        bottom: 0em;
        left: 0em;
        right: 2em;
        z-index: 1;
        transform: translateX(-1000%);
        transition: .5s;
    }

    header nav ul{
        justify-content: center;
        flex-direction: column;
    }

    header nav.toonmenu{
        transform: translateX(0);
    }


    header nav ul li a{
        background-color: var(--wit);
        font-size: 1.5em;
    }

    header nav ul li{
        margin-bottom: 3em;
        margin-right: 3em;
    }

    #over-mij main section:first-of-type img{
        top: 1em;
        height: 5em;
        width: 5em;
    }
    #over-mij main section:first-of-type{
        grid-template-columns: 100%;
    }
    #contact main section form input{
        width: 100%;
    }

    #pizza>main section:first-of-type>article:nth-child(2)>p{
        font-size: 1.5em;
    }

    #pizza>main section:first-of-type>article:nth-child(2)>h1{
        font-size: 1.5em
    }

    #pizza>main section:first-of-type>article:nth-child(4){
        grid-template-columns: 1fr;
    }

    main section:first-of-type>article a{
        font-size: 0.8em;
        padding: 0.7em;
    }

    section:first-of-type>article:first-of-type{
        padding: 0em;
    }

    main>section>article{
        padding: 1.5em;
    }

}


@media (max-width: 32em){
    main section:first-of-type{
        width: 90%;
    }


}
















